@import '../../../../styles/fonts';

*{
  font-family: "Avenir Next";
}

.container {
  height: 15%;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: 100% 100%;
}


.cardsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;

}

.card {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  height: 5rem;
  color:rgb(173, 104, 13);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.card p,
.card .titleObjectivos {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: medium;
  position: absolute;
}

.card p {
  z-index: -1;
  transform: translateY(300px);
}

.card .titleObjectivos {
  margin-block-start: 0;
  margin-block-end: 0;
  position: absolute;
}

.card:hover p {
  background-color: rgb(173, 104, 13);
  color: white;
  transform: translateY(0);
  transition: all 0.5s ease;
  z-index: 1;
}


.div3070{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


  .div30{
  width: 30%;
  }
  .div70{
  width: 70%;
  }
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

strong {
  font-weight: bold;
}

ul > li > ul {
  list-style-type: disc;
  margin-top: 10px;
  margin-left: 20px;
}
.powerBiBanner {
  width: 65%;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  background-color: #113ef2;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.powerBiBanner:hover {
  background-color: #0c2aa4;
}

.powerBiBanner p {
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 16px;
}

/* Nuevos estilos para la imagen al lado del texto */
.powerBiBanner img {
  width: 7%; /* Ajusta el tamaño de la imagen según tus preferencias */
  height: auto; /* Permite que la altura se ajuste automáticamente */
  margin-left: 10px; /* Espacio entre el texto y la imagen */
}

.globit{
  display: flex;
  justify-content: center;
  width: 100%;
}

.zoomableImage {
  width: 15vw;
  height: 18vh;
  transition: transform 0.3s ease; /* Agrega una transición suave a la propiedad transform */
  transform-origin: center center;
}

/* Agrega estilos para el hover */
.zoomableImage:hover {
  transform: scale(1.2); /* Hace un zoom al 120% del tamaño original */
  transition: transform 0.3s ease; /* Mantiene la transición suave en hover */
}


.procesoSeleccion{
  width: 100%;
}
.imgProceso{
  width: 100%;
  height: 100%;
  object-fit: 100% ;
}


