/* Estilos para el modal */

/* En Page8.module.scss */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Aumenta el z-index para que esté por encima de otros elementos */
}

.modalContent {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: black; /* Color negro para el botón de cerrar */
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
}

.modalSlider {
  position: relative;
}

.sliderButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: black; /* Color negro para los botones de slide */
  color: white;
  border: none;
  cursor: pointer;
}

.modalImage {
  width: 100%;
  height: auto;
  max-height: 70vh; /* Ajusta la altura máxima según tus necesidades */
}

.slideButton {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: black; /* Color negro para los botones de slide */
  color: white;
  border: none;
  cursor: pointer;
}


.slideButtonLeft {
  left: 10px;
}

.slideButtonRight {
  right: 10px;
}

.pausasActivasModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.pausasActivasModalContent {
  background-color: white;
  border-radius: 10px;
  overflow: auto;
  width: 90%;
  height: 100%;
}

.modalRow {
  display: flex;
  width: 100%;
  height: 50%;
}

.modalColumn {
  flex: 1;
}

.imageContainer {
  height: 65%;
  width: 100%;
  overflow: hidden;
}

.modalImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.blankContainer {
  height: 35%;
  width: 100%;
  background-color: white;
}

.flexibilityText {
  z-index: 2;
  width: 100%;
  position:relative;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.38);
  height: 40%;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px, rgba(0, 0, 0, 0.3) -2px 4px 2px;
  p{
    color: white;
    font-weight: bold;
    font-size: 1.2rem; /* Ajusta el tamaño de la letra según sea necesario */
  }
}
.curva{
  display: flex;
  justify-content: center;
  top: 15%;
  position: relative;
}

.modalTabs {
  display: flex;
}
.modalTab {
  flex: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #e0e0e0;
  }

  &.activeTab {
    background-color: rgb(50, 158, 144);;
    color: white;

    &:hover {
      background-color: rgb(25, 121, 109);
    }
  }
}