@import '../../../../styles/fonts';

*{
  font-family: "Avenir Next";
}

.container {
  height: 115vh;
  width: 98%;
  margin: 0 auto;
  margin-bottom: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.pinGroup {
  position: absolute;
}
.pinContainer {
  position: absolute;/* Ajusta la posición horizontal según sea necesario */
  width: 100%;
  height: 100%;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: 100% 100%;
}

.pin {
  position: absolute;
  width: 100px;
  height: 100px;
}

/* Estilos para cada pin específico */
.pinGroup1 { top: 39%; left: 6%; position: absolute;  width: 100px; height: 100px; display: flex; justify-content: center;} /* Ajusta la posición de cada grupo de pin y descripción dentro del contenedor principal */
.pinGroup2 { top: 40%; left: 22%; position: absolute;  width: 100px; height: 100px; display: flex; justify-content: center;} /* Ajusta la posición de cada grupo de pin y descripción dentro del contenedor principal */
.pinGroup3 { top: 55%; left: 25%; position: absolute;  width: 100px; height: 100px; display: flex; justify-content: center;} /* Ajusta la posición de cada grupo de pin y descripción dentro del contenedor principal */
.pinGroup4 { top: 52%; left: 40%; position: absolute;  width: 100px; height: 100px; display: flex; justify-content: center;} /* Ajusta la posición de cada grupo de pin y descripción dentro del contenedor principal */
.pinGroup5 { top: 55%; left: 60%; position: absolute;  width: 100px; height: 100px; display: flex; justify-content: center;} /* Ajusta la posición de cada grupo de pin y descripción dentro del contenedor principal */
.pinGroup6 { top: 34%; left: 50%; position: absolute;  width: 100px; height: 100px; display: flex; justify-content: center;}
.pinGroup7 { top: 42%; left: 75%; position: absolute;  width: 100px; height: 100px; display: flex; justify-content: center;}

/* Repite para los demás pines */

/* Estilos para las descripciones */
.description {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: white;
  top: 100%;
  height: 100%;
}

